.block {
    padding: 3rem 0;

    gap: 3rem;

    background: transparent;
    background: var(--gradient);

    text-align: center;
}


.text {
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 770px) {
    .text {width: 90%}
}

@media (max-width: 380px) {
    .text {width: 100%}
}
